{%  block body %}

    <button id="dev-insert" class="ui teal button">Add a new models/Developer...</button>
    <div id="dev-view" class="container">
    <div id="update-dev" class="container"></div>
    </div>
    {{ q["dtDevs"] | raw }}
    {{ script_foot | raw }}


{% endblock %}